# {{ ansible_managed }}
# stored in /opt/scrutiny/config/scrutiny.yaml
version: 1
web:
  listen:
    port: 8080
    host: 0.0.0.0
  database:
    # The Scrutiny webapp will create a database for you, however the parent directory must exist.
    location: /opt/scrutiny/config/scrutiny.db
  src:
    frontend:
      # The path to the Scrutiny frontend files (js, css, images) must be specified.
      # We'll populate it with files in the next section
      path: /opt/scrutiny/web
  log:
    file: '/var/log/scrutiny.log'
    level: INFO